dashscope==1.19.1
requests
fastapi
openai
motor
mcp
pymongo
beanie
python-jose
aiohttp
aioshutil
weasyprint
zai-sdk
aiofiles
shortuuid
python-multipart
html2text
pymilvus
beanie==1.26.0
pyyaml
python-pptx
pdfminer.six
python-docx
openpyxl
alibabacloud_tea_openapi
alibabacloud_tea_util
alibabacloud_docmind_api20220711==1.4.7
alibabacloud_dm20151123
alibabacloud_credentials
cryptography>=42.0.0